// bootstrap overrides
$primary: #dfb4c5;
$secondary: #acafbe;
$info: #e9d9c0;
$danger: #f7022a;

// DFB4C5   E7EBEE   E9D9C0    ACAFBE     413F44

.btn-primary {
	color: #fff !important;
}

.btn-secondary {
	color: #fff !important;
}

.btn-info {
	color: #fff !important;
}

$theme-colors: (
	"cancel": $secondary,
	"proceed": $primary,
);

// Forms
.error {
	color: var(--danger);
}

.form-group--error {
	input {
		border-color: var(--danger);
	}
}

*:focus {
	outline: none;
	border-color: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
