$recipe-container-height: 86vh;
$recipe-button-height: 30px;
$recipe-padding: 20px;
$recipe-margin: 30px;
$recipe-line-item-height: 80px;

$recipe-container-text-height: calc(#{$recipe-container-height} - #{$recipe-button-height} - #{$recipe-padding * 2} - #{$recipe-margin * 2});
